.tt, .ss, .selections,.st{
    background-color: transparent;
}
.tt{
    width: 60%;
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    
}
.st{
    width: 70%;
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    
}
.ss{
    width: 70%;
    padding-top: 50vh;
    



}
.tt > h1  {
    background-color: transparent;
    display: flex;
    line-height: 50vh;
    position: sticky;
    top: 0;
}
.st > h1  {
    background-color: transparent;
    display: flex;
    line-height: 50vh;
    position: sticky;
    top: 0;
}
.selections{
    /* padding: 20px 0; */
    

}
.selections > h2 ,p {
    background-color: transparent;
    flex-wrap: wrap;
}
.over1{
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 0 100px;
    background-color: transparent;
   

}
.banner{
    background-image: url(../../public/mesh.png);
    background-repeat: no-repeat;
    background-position: top ;
    background-color: transparent;
    /* background-size: contain; */

}
.over2{
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 0 100px;
   

}