.bbb{
    border: 3px solid rgb(231, 46, 77);

}
.bbb:hover{
  border-color: aqua;
  color: aquamarine;

}
.mmm{
    flex-direction: column;
    gap: 10px;
}

.what{
    position: relative;
    /* margin-top: 16px; */
    width: 100%;
    height: 280px;
     border: 3px solid rgb(231, 46, 77);
      /* position: absolute; */
     /* left: 55%;  */
     background-color: transparent;
 
 
   }
  
   .p{
     font-size: 20px;
     text-align: left;
     font-weight: 200;
     background-color: transparent;
 
   }
   .fourbox > h1{
     background-color: transparent;
     font-size: xx-large;
 
   }
   .fourbox{
     width: 200px;
     height: 270px;
     flex-wrap: wrap;
     display: flex;
     flex-direction: row;
     gap: 25px;
     padding: 20px;
     border: 3px solid rgb(231, 46, 77);
     position: relative;
     top: 260px;
     right: 20px;
     background-color: transparent;
 
   }
   .fourbox2 > h1{
     background-color: transparent;
     font-size: xx-large;
 
   }
   .fourbox2{
     width: 200px; 
    height: 270px;
     flex-wrap: wrap;
     display: flex;
     flex-direction: row;
     gap: 25px;
     padding: 20px ;
     justify-content: center;
     text-align: center;
     border: 3px solid rgb(231, 46, 77);
     position: relative;
     top: 260px;
     right: 20px;
     background-color: transparent;
 
   }
   .fourbox3 > h1{
     background-color: transparent;
     font-size: xx-large;
 
   }
   .fourbox3{
     width: 200px; 
    height: 270px;
     flex-wrap: wrap;
     display: flex;
     flex-direction: row;
     gap: 25px;
     padding: 20px ;
     justify-content: center;
     text-align: center;
     border: 3px solid rgb(231, 46, 77);
     position: relative;
     top: 260px;
     right: 20px;
     background-color: transparent;
 
   }
   .ddd{
    position: relative;
    top: 100px;
   }
   .stay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 20px 0;
    width: 600px;
   }
   .stay > button{
    border: 3px solid rgb(231, 46, 77);
    width: 150px;
   }
   .stay > button:hover{
    border-color: aqua;
  color: aquamarine;
   }
   .bb2:hover{
    border:3px solid aqua;
    color: aquamarine;

   }
   
   .dev{
    margin-top: 30px;
   }
   .dev > p {
    color: gray;

   }
   .dev > p:hover {
    color: rgb(231, 46, 77);

   }
   .texte{
    color: gray;

   }
   .tex > a{
    text-decoration: none;
    color: white;
    padding: 0 5px;
   }